<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa fa-paw" aria-hidden="true"></i>Rock 'N Dogs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
           &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="dropdown">
                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CATEGORIES
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="http://localhost:3000/shop/supply">Supplies</a>
                    <a  class="dropdown-item" href="/">Dog Food Brands</a>
                </div>
            </div>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-3" action="/shop/search-result" method="get">
            <input class="form-control mr-sm-2" name ="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>Search</button>
        </form>
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item mr-3">
                <a class="nav-link" href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    Cart
                    {{#if cart.totalQty}}
                        <span class="badge badge-pill badge-primary">{{cart.totalQty}}</span>
                    {{/if}}
                </a>
            </li>
            <li class="nav-item dropdown">
                {{#if isAuthenticated}}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{user.email}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                {{else}}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> User Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/signup">Sign up</a>
                    </div>
                {{/if}}
            </li>
        </ul>
    </div>
</nav>
