node_modules
npm-debug.log
.git
.gitignore
.env*
.vscode
.idea
*.iml
README.md
tests
coverage
.nyc_output
*.log
.clinic
deploy
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
.github
.husky
.eslintrc.js
.eslintcache
.prettierrc
docs
*.md
