body {
    background-color: moccasin;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.img-thumbnail img{
  max-height: 200px;
}
.img-thumbnail .price{
  font-weight: bold;
  font-size:16px;
}
.img-thumbnail .Description{
  color: black ;
}
.product{
  background-color: seashell;
  padding:50px;
}
.price{
  padding-bottom: 10px;
  font-weight: bolder;
  font-variant-caps: normal;
}
.Description{
  font-weight: bolder;

}
.nav-item{
  font-size: medium;
  font-weight:bolder;
}
.form-inline{
  alignment:center;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 1552px;
  z-index: 999;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}